:root {
    --main: #3674B5;
    --secondary: #578FCA;
    --tertiary: #F5F0CD;
    --highlighs: #FADA7A;
    --navi-buttons: #FADA7A;
    --on-col-text: #ffffff;
    --text: #000000;
    --background: #ffffff;
    --title: #ffffff;
    --nav-text: #000000;
    --card-profile: #F5F0CD;
    --card-highlight: #FADA7A;

    --darker-gray: #181c22;
    --darker-gray-highlight: #15151b;
}

html.dark {
    --main: #222831;
    --secondary: #393E46;
    --tertiary: #948979;
    --highlighs: #DFD0B8;
    --navi-buttons: #FADA7A;
    --on-col-text: #000000;
    --text: #ffffff;
    --background: #000000;
    --card-profile: #181c22;
    --card-highlight: #15151b;

    --darker-gray: #181c22;
    --darker-gray-highlight: #15151b
}

header {
    background: var(--main);
    color: var(--title);
    padding: 10px;
    margin: 0;
    overflow: visible;
}

header h1 {
    text-align: center;
    margin: 0;
}

#navigationBar {
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

#navigationBar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
}

#navigationBar ul li a {
    margin: 0 10px;
    background: var(--navi-buttons);
    padding: 8px;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px 1px;
    text-decoration: none;
    color: var(--nav-text);
    display: inline-block;
}

#navigationBar ul li a:hover {
    background: var(--tertiary);
}

body {
    overflow-x: visible;
    background: var(--background);
    font-family: sans-serif;
    color: var(--text);
    margin: 0;
}

.profile {
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px 1px;
    background-color: var(--card-profile);
}

.card {
    margin: 5px 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: black 1px 1px 1px 1px;
    background-color: var(--card-profile);
    flex: max(50px, 247px);
}

.card:hover {
    background: var(--card-highlight);
}

.cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 5px;
}

.CVbtn {
    background: var(--tertiary);
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.CVbtn:hover {
    background: var(--highlighs);
}

#theme-mode-button {
    background: none;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#theme-mode-button:hover {
    background: var(--highlighs);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22cm;
    margin: auto;
    padding: 2mm;
}